@import "tailwindcss";

@theme {
  --color-primary: #1a202c;
  --color-accent: #ff6b00;
  --color-background-light: #f8fafc;
  --font-sans: "Inter", system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}
